#wrapper {
    overflow: hidden;
}

#leftSideBar {
    background-color: green;
}

#rightSideBar {
    background-color: lightseagreen;
}

/* -------------- posts ------------- */
.post_image {
    width: 100%;
    overflow: hidden;
}
