#wrapper {
    overflow: hidden;
}

#content {
    min-height: 90vh;
}

/* -------------- colours ------------- */
body {
    background-color: #E8F0F0;
}

h1, h2, h3, h4, h5, h6 {
    color: #405050;
}

p {
    color: #182018;
}

.btn-primary-green {
    background-color: #889898;
    color: #E8F0F0; 
}

.btn-primary-green:hover {
    background-color: #fdfdfd;
    color: #A0B0B0;
}

/* -------------- navbar ------------- */
#site_logo {
    font-size: 2rem;
    margin: 0 1rem;
    color: #98A068;
}

/* -------------- the left side bar ------------- */
#leftSideBar {
    position: relative;
    background-color: #A0B0B0;
}

/* -------------- the right side bar ------------- */
#rightSideBar {
    position: relative;
    background-color: #A0B0B0;
}

#new_post {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    font-size: 5rem;
    color: #fdfdfd;
    transition: 200ms;
}

#new_post:hover {
    color: #405050;
}

/* -------------- posts ------------- */
.post_feed {
    position: relative;

    max-height: 40vh;

    margin: 2vh 1vw;
    margin-right: 50vw;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2em 0;
    padding-left: 1vw;
    max-width: 97%;

}

.post_image {
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.post_feed .post_buttons {
    position: absolute;
    bottom: 1vh;
}

@media screen and (max-aspect-ratio: 1/1) {
    .post_feed {
    position: relative;

    max-height: 40vh;
    min-height: 21vh;
    }

    .post_image {
    min-width: 100%;
    min-height: 21vh;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 1.5rem;
    }
}