{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('update_post', post_id=post._id) }}" method="POST">

  <div class="form-group">
    <label for="title">Post Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="{{ post.title }}" value="{{ post.title }}" required>
  </div>

  <div class="form-group">
    <label for="picture">Post Photo</label>
    <input type="text" class="form-control" name="picture" id="picture" placeholder="{{ post.picture }}" value="{{ post.picture }}">
  </div>

  <div class="form-group">
    <label for="location">Your location</label>
    <input type="text" class="form-control" name="location" id="location" placeholder="{{ post.location }}" value="{{ post.location }}">
  </div>

  <div class="form-group">
    <label for="barter">Choose market</label>
    {% if post.barter == 'Want to buy' %}
    <select class="form-control" name="barter" id="barter" required>
      <option value="Want to buy" selected>Want to buy</option>
      <option value="Want to sell">Want to sell</option>
      <option value="Want to trade">Want to trade</option>
    </select>
    {% elif post.barter == 'Want to sell' %}
    <select class="form-control" name="barter" id="barter" required>
      <option value="Want to buy">Want to buy</option>
      <option value="Want to sell" selected>Want to sell</option>
      <option value="Want to trade">Want to trade</option>
    </select>
    {% else %}
    <select class="form-control" name="barter" id="barter" required>
      <option value="Want to buy">Want to buy</option>
      <option value="Want to sell">Want to sell</option>
      <option value="Want to trade" selected>Want to trade</option>
    </select>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="description">Post description</label>
    <textarea class="form-control" name="description" id="description" rows="3">{{ post.description }}</textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="action">Submit</button>
</form>

{% endblock %}