{% extends 'base.html' %}
{% block content %}

<h3 class="text-center my-4">New post</h3>
<div class="container mb-3 mb-sm-5" id="new_post_container">
<form action="{{ url_for('create_post') }}" method="POST">

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="feed" id="propagation_station" value="propagation_station">
    <label class="form-check-label" for="propagation_station">Propagation Station</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" name="feed" id="plant_nursery" value="plant_nursery">
    <label class="form-check-label" for="plant_nursery">Plant Nursery</label>
  </div>


  <div class="form-group">
    <label for="emailaddress">Email address</label>
    <input type="email" class="form-control" name="emailaddress" id="emailaddress" placeholder="name@example.com" required>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="John Doe" required>
  </div>

  <div class="form-group">
    <label for="title">Post Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Fancy title" required>
  </div>

  <div class="form-group">
    <label for="picture">Post Photo</label>
    <input type="text" class="form-control" name="picture" id="picture" placeholder="http://photo-url.com" required>
  </div>

  <div class="form-group">
    <label for="location">Your location</label>
    <input type="text" class="form-control" name="location" id="location" placeholder="City, State, Country">
  </div>

  <div class="form-group" id="barter_div">
    <label for="barter">Choose market</label>
    <select class="form-control" name="barter" id="barter" required>
      <option value="Want to buy">Want to buy</option>
      <option value="Want to sell">Want to sell</option>
      <option value="Want to trade">Want to trade</option>
    </select>
  </div>

  <div class="form-group">
    <label for="description">Post description</label>
    <textarea class="form-control" name="description" id="description" rows="3" placeholder="Your post text..."></textarea>
  </div>

  <button type="submit" class="btn btn-primary-green" name="action">Submit</button>
</form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>

<script>
  $(document).ready(function(){
    $('#propagation_station').click(function(){
      if ($(this).prop('checked') == true){
        $('#barter_div').css({'display': 'block', 'opacity': '1', 'transition': '300'})
      }

    });
  });

  $(document).ready(function(){
    $('#plant_nursery').click(function(){
      if ($(this).prop('checked') == true){
        $('#barter_div').css({'display': 'none'})
      }
    });
  });

  $(".form-check-input").change(function() {
    $(".form-check-input").prop('checked', false);
    $(this).prop('checked', true);
  }); 
</script>

{% endblock %}