{% extends 'base.html' %}
{% block content %}


  {% for post in posts %}
    {% if post.feed == 'plant_nursery' %}
      <div class="row container post_feed plant_nursery_post">
        <div class="col-6 col-sm-4 image_container">
          <img src="{{post.picture}}" alt="Image related to post" class="post_image">
        </div>
        <div class="col-6 col-sm-8">
          <h2 class="post_title">{{post.title}}</h2>
          <h6 class="post_location">{{post.location}}</h6>
          <h6 class="post_username">{{post.username}}</h6>
          <div class="post_buttons">
              <a href="{{ url_for('view_post', post_id=post._id) }}" class="btn btn-primary-green">View Post</a>
          </div>
        </div>
      </div> 
    {% endif %}
  {% endfor %}
{% endblock %}